/* styles/Home.css */
.manga-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    font-size: 24px;
}
  
.manga-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    height: 450px;
    font-family: 'Bangers', cursive;
}
  
.manga-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.manga-card img:hover {
    transform: scale(0.98);
    border-radius: 15px;
    box-shadow: 0px 0px 30px 1px #8CC63F;
   }

.manga-card h3 {
    max-width: 300px;
    word-wrap: break-word;
    text-align: center;
    height: 40px;
    margin-top: 10px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .manga-grid {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  
    .manga-card img, .manga-card h3 {
      max-width: 200px;
    }
}
  
@media (max-width: 480px) {
    .manga-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .manga-card img, .manga-card h3 {
      max-width: 150px;
    }
}
