/* styles/MangaDetails.css */

.manga-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2em auto;
    max-width: 1200px;
    text-align: center;
    color: white;
}
  
.manga-details img {
    max-width: 400px;
    height: auto;
    margin-right: 2em;
}
  
.manga-details h1 {
    font-family: 'Bangers', cursive;
    font-size: 4em;
}
  
.manga-details p {
    line-height: 1.5;
}

.manga-details .info {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 1em;
}

.manga-details .info p span {
    font-family: 'Bangers', cursive;
    font-size: 1.2em;
}

/* Styles for smaller screens */
@media (max-width: 768px) {
    .manga-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .manga-details img {
        max-width: 80%;
        margin: 0 auto 2em; /* Center the image and add space below */
    }

    .manga-details h1 {
        font-size: 2em;
    }

    .manga-details .info p span {
        font-size: 1em;
    }
}
