.navbar-list {
  list-style-type: none;
  margin: 50;
  padding: 0;
  overflow: hidden;
  background-color: #121212;
  opacity: 92%;
  text-align: end;


}

.navbar-list li {
display: inline-block;

}

.navbar-list li a {
  display: block;
  color:  #ffffff;
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}

.navbar-list li a:hover {
  background-color: #8CC63F
}

.navbar-list li input[type="text"] {
  margin: 10px;
  padding: 5px;
}

.navbar-list a.docs.creator {
  letter-spacing: normal ;
}