/* styles/Search.css */

.search-results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: left;
  align-items: left;
  margin-top: 20px;
  font-family: 'Bangers', cursive;
}

.search-results a {
  display: inline-block;
  margin: 10px;
}

.search-results a:hover {
  border: 2px solid #8cc63f;
}

.search-results img {
  width:50%;
  max-width: 200px; /* adjust this value to change the image size */
  height: auto; /* keep the aspect ratio of the image */
}

input {
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  opacity: 80%;
  letter-spacing: 0.5px;
  transition: all 0.5s ease;
  width: 300px;
  border: 2px solid rgb(140, 198, 63);
  color: white;
}

button {
  padding: 2px 4px;
  border: 0;
  background-color: white;
  box-shadow: #8cc63f;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: #8cc63f;
  color: hsl(0, 0%, 100%);
  box-shadow: #8cc63f;
}

button:active {
  letter-spacing: 3px;
  background-color: #8cc63f;
  color: hsl(0, 0%, 100%);
  box-shadow: #8cc63f;
  transform: translateY(10px);
  transition: 100ms;
}

/* Responsive rules for smaller screens */

@media screen and (max-width: 768px) {
  .search-results {
    grid-template-columns: repeat(3, 1fr); /* reduce the number of columns to 2 */
  }

  input {
    width: 100%; /* make the input full width */
  }
}

@media screen and (max-width: 480px) {
  .search-results {
    grid-template-columns: repeat(3, 1fr); /* reduce the number of columns to 1 */
  }
}
