/* Styles for Signup component */
.signup-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .signup-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .signup-container input {
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
  }
  
  .signup-container button {
    width: 200px;
    height: 40px;
    background-color: #2edf3a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-container button:hover {
    background-color: #1f8d2d;
  }
  
  .signup-container span {
    font-size: 0.9em;
  }
  
  .signup-container a {
    color: #2edf3a;
    text-decoration: none;
  }
  
  .signup-container a:hover {
    text-decoration: underline;
  }
  